html
    head
        title test
        meta(
        http-equiv="content-Type"
        content="text/html;charset=gb2312"
        )
        meta(
        http-equiv="X-UA-Compatible"
        content="IE=9;IE=8;IE=7;IE=EDGE"
        )
        meta(
        http-equiv="pragma"
        content="no-cache"
        )
        meta(
        http-equiv="Cache-Control"
        content="no-cache，must-revalidate"
        )
        meta(
        http-equiv="expires"
        content="0"
        )
        link(
        href="./../layui/css/layui.css"
        rel="stylesheet"
        type='text/css'
        )
        link(
        href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
        type='text/css'
        )
        link(
        href="./../stylesheets/reception/index.css"
        rel="stylesheet"
        type='text/css'
        )
        script(src="./../layui/layui.js")
        script(src="./../javascripts/lib/jquery-3.3.1.min.js")
        script(src="./../javascripts/utils/MyUtils.js")
        script(
        src='./javascripts/reception/index.js'
        )
    body
        div(class=' s_left')
            div(class='s_Home')
                h1 <i class="fa fa-home" aria-hidden="true"></i>Home
            div(class='s_introduce')
                img(
                class="QQImg"
                src="http://q2.qlogo.cn/headimg_dl?bs=469960690&dst_uin=469960690&dst_uin=469960690&;dst_uin=469960690&spec=100&url_enc=0&referer=bu_interface&term_type=PC"
                )
                h3(class='s_website') test
                h3(class='s_autograph') test
                h3(class='s_address') test
            div(class='s_contact')
                <i class="fa fa-qq" aria-hidden="true"></i>
            ul
                li
                    dl
                        dt() 导航
                        dd <i class="fa fa-circle-o fa-fw"></i> 首页
                li
                    dl
                        dt 组成
                        dd <i class="fa fa-fw fa-lemon-o"></i> 分类
                        dd <i class="fa fa-fw fa-smile-o"></i> 页面
        div(class='s_right')
            div(class='s_right_head')
                div(class='')
                    h2 首页
            div(class='s_right_body')
                h2(class='s_right_body_title') 首页
                div(class='s_right_body_main' id="s_right_body_main")
                    div(id="blog" class="blog")
                    div(id="page" class="page")
                div(class='s_right_body_rich')
